In [2]:
# ARITHMETIC OPERATION

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Enter first number:  5
Enter second number:  10

Addition: 15
Subtraction: -5
Multiplication: 50
Division: 0.5

In [21]:
# STRING

str1 = input("Enter the first word:")
str2 = input("Enter the second word:")

print("Concatenation:", str1 + " " + str2)
print("Length of str1:", len(str1))
print("First 3 letters of str2:", str2[:3])
print("Uppercase str1:", str1.upper())
print("Lowercase str2:", str2.lower())
print("fist character str2:", str2[0])
print("Last character str2:", str2[-1])

Enter the first word: hello
Enter the second word: world

Concatenation: hello world
Length of str1: 5
First 3 letters of str2: wor
Uppercase str1: HELLO
Lowercase str2: world
fist character str2: w
Last character str2: d

In [8]:
# BOOLEAN 

x = 10
y = 5

print("x > y:", x > y)   
print("x == y:", x == y)  
print("x < y:", x < y )
print("x != y:", x != y) 
print("x <= y:", x <= y) 
print("x >= y:", x >= y)

x > y: True
x == y: False
x < y: False
x != y: True
x <= y: False
x >= y: True

In [9]:
# SET

a = {1, 2, 3}
b = {3, 4, 5}

print("Union :", a | b) 
print("Intersetion :", a & b)  
print("Difference :", a - b)  
print("Symmetric difference :", a ^ b)

Union : {1, 2, 3, 4, 5}
Intersetion : {3}
Difference : {1, 2}
Symmetric difference : {1, 2, 4, 5}

In [14]:
# LIST

fruits = ["apple", "banana", "cherry"]

print("First element :", fruits[0]) 
print("Last element :", fruits[-1])
fruits.append("orange") 
print("Add element orange :", fruits)
fruits.insert(1, "mango") 
print("Insert element 1 st place :", fruits)
fruits.remove("banana") 
print("Remove element :", fruits)

First element : apple
Last element : cherry
Add element orange : ['apple', 'banana', 'cherry', 'orange']
Insert element 1 st place : ['apple', 'mango', 'banana', 'cherry', 'orange']
Remove element : ['apple', 'mango', 'cherry', 'orange']

In [18]:
# DICTIONARY

student = {  "id": 101,   "name": "Bob", "grades": [88, 92, 79] }

print("student:",student)
print("Name :", student["name"])  
print("Age :", student.get("age"))
student["age"] = 20   
print("insert age:", student)
student["name"] = "Robert" 
print("Update:", student)

student: {'id': 101, 'name': 'Bob', 'grades': [88, 92, 79]}
Name : Bob
Age : None
insert age: {'id': 101, 'name': 'Bob', 'grades': [88, 92, 79], 'age': 20}
Update: {'id': 101, 'name': 'Robert', 'grades': [88, 92, 79], 'age': 20}